/cli/build/
/build/
/app_android/build/
/build/
/.idea/
/.kotlin/
project_backup_full_*

.gradle/

*.hprof

prompts/build/
/app_android/build/
/.idea/
/.gradle/
/plugin_android_studio/build/
/.idea/
/.gradle/
.intellijPlatform/
/plugin_vscode/node_modules/
/plugin_vscode/package-lock.json
