/cli/build/*
/build/
/app_android/build/*
/build/*
/.idea/
/.kotlin/*
project_backup_full_*

.gradle/*

*.hprof

prompts/build/*
/.idea/*
/.gradle/
/plugin_android_studio/build/
/plugin_vscode/node_modules/
/plugin_vscode/package-lock.json
/app_android/build/
/app_android/build/intermediates/
/app_android/build/outputs/

